<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You've been invited to join a Evergreen team!</h1>
    <p>
      To accept your invitation follow the link below (if you 
      aren't able to click it, then copy and paste it into your
      browser's address bar).
      <br/>
    </p>
    <p>
      <% url = new_user_session_path(team_member_id: @team_member.id, team_member_token: @team_member.token, only_path: false) %>
      <%= link_to url, url %>
    </p>
  </body>
</html>