#password.tab-pane
  .image-upload.small.well.user-avatar
    %p
      :erb
        For security reasons, if you'd like to reset
        your password you will need to do it
        by <%= link_to "requesting a reset password link", new_user_password_path %>
        be sent to you via email.