#footer
  .copyright
    %p.muted
      :plain
        &copy;
        2013
        <span class='horizontal-divider'>&#183;</span>
        <a href="http://www.writtensoftware.com">
          Written Software
        </a>